registry=https://registry.npmmirror.com
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
strict-ssl=false

# TensorFlow 配置
TFJS_NODE_SKIP_WASM_VALIDATION=1
legacy-peer-deps=true
